
<!-- =========================================
                           SIDEBAR
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
                    <!--  Sidebar row -->
                    <div class="row">
                        <!--  top section   -->
                        <div class="heading">
                            <!-- ====================
                                      IMAGE
                            ==========================-->
                            <div class="feature-img">
                                <img src={{ .Params.image }} class="responsive-img" alt={{ .Params.name }}>
                            </div>
                            <!-- =========================================
                                       NAVIGATION
                            ==========================================-->
                            <div class=" nav-icon">
                                <nav>
                                    <div class="nav-wrapper">
                                      <ul id="nav-mobile" class="side-nav">
                                        <li><h2><a href="{{ .Site.BaseURL }}">Pricenometry</a></h2></li>
                                        {{ range .Site.Menus.main -}}
                                        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
                                        {{- end }}
                                      </ul>
                                      <a href="/" data-activates="nav-mobile" class="button-collapse  "><i class="mdi-navigation-menu"></i></a>
                                    </div>
                                </nav>
                            </div>
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                            <div class="title col s12 m12 center wow fadeIn white-bg" data-wow-delay="0.2s">
                                <a  href={{ .Params.external_url }} target="_blank"><button class="btn btn-sucess"><i class="fa fa-shopping-cart"></i> Buy Now </button></a>
                            </div>
                        </div>

                        <!-- pricing info -->
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                   <i class="fa fa-tag"></i>
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.4s" >
                                    <div class="section-item-details">
                                        <h3>{{ .Params.name }}</h3>
                                        <strike>${{ .Params.price.original_price | .Params.price.price }}</strike>
                                        <h2>${{ .Params.price.price }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">
                                <div style="text-align: center;">
                                    <ins class="adsbygoogle" data-ad-client="ca-pub-4228490019228264" data-ad-format="auto" data-ad-slot="4134546982" style="display:block"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});      
                                    </script>
                                </div>     
                            </div>
                        </div>

                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                   <i class="fa fa-info"></i>
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.4s" >
                                    <h2>Details</h2>

                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                        <p>Refurbished Google Chromecast: Bring a world of entertainment to your living room with Chromecast. Just connect to your home wireless network to stream your favorite Internet apps like Netflix, YouTube, HBO GO and Hulu Plus. Plus, you can control features using your compatible smartphone, tablet or computer.This product has been refurbished. Learn more.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col l12 m12 s12 sort-info sidebar-item">
                                <div class="row">
                                    <div style="text-align: center;">
                                        <ins class="adsbygoogle" data-ad-client="ca-pub-4228490019228264" data-ad-format="auto" data-ad-slot="4134546982" style="display:block"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});      
                                        </script>
                                    </div>     
                                </div>
                            </div>

                        <!-- Changes -->
                        <div class="col l12 m12 s12  skills sidebar-item" >
                            <div class="row">
                                <div class="col m12 l3 s12 icon">
                                    <i class="fa fa-calendar-check-o"></i> <!-- icon -->
                                </div>
                                 <!-- Skills -->
                                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                                    <h3>Most Changes Over Time</h3>

                                    <span>Price</span>
                                    <div class="progress">
                                        <div class="determinate"> 90% </div>
                                    </div>

                                    <span>Rebates</span>
                                    <div class="progress">
                                        <div class="determinate"> 80%</div>
                                    </div>

                                    <span>Total Shares</span>
                                    <div class="progress">
                                        <div class="determinate">70%</div>
                                    </div>

                                    <span>Facebook Shares</span>
                                    <div class="progress">
                                        <div class="determinate">50%</div>
                                    </div>

                                    <span>Twitter Shares</span>
                                    <div class="progress">
                                        <div class="determinate">20%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   <!-- end row -->
                </aside><!-- end sidebar -->